<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7Shoots</title>
    <link rel="icon" href="images/n7.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css_files/font.css" rel="stylesheet" type="text/css">
    <link href="css_files/background.css" rel="stylesheet" type="text/css">
    <link href="css_files/home.css" rel="stylesheet" type="text/css">
    <%- include('navbar') %>
</head>
<body>
    <div class="middle-box">
        <div class="container-box">
            <div class="content-container">
                <h2>
                    Welcome To 7Shoots!
                </h2>
                <img src="images/about_me.jpg" id="headshot" alt="headshot">

                <p>
                    Hello! Welcome to 7Shoots, my name is Dien, an inspiring videographer. I originally picked up this hobby in High School
                    after watching KevJumba's 'Home' video and I fell in love with creating and editing videos ever since!
                </p>
                <p>
                    I create videos for the memories, to hone my skills, and just for fun overall. I created this website to allow me to practice
                    and get better at shooting and editing videos!
                </p>
                <p>
                    If your interested in working together and shooting some videos together, check out some of my work in the 'Portfolio' page!
                    Also I do not charge for any of the work done, I just do it so I can get better and I love to create memories, the only thing
                    I ask if that you be patient and be honest. I am a full-time university student!
                </p>
                <p>
                    Thank you for stopping by and I look forward to working with you! Also check out my instagram below as well!
                </p>
                <p class ="last-text">
                    -Dien/7Shoots
                </p>

                <a href="https://www.instagram.com/neid_shoots/?hl=en"><img src="images/ig.png" class="ig-logo" alt="instagram logo"></a>
            </div>
        </div>
    </div>
</body>
</html>