<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css_files/font.css" rel="stylesheet" type="text/css">
    <link href="css_files/background.css" rel="stylesheet" type="text/css">
    <link href="css_files/pf.css" rel="stylesheet" type="text/css">
    <%- include('navbar') %>
</head>
<body>
    <div class="middle-box">
        <div class="slideshow-container">
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <div class="mySlides">
                <div class="numbertext">Miami</div>
                <img src="work/MIA.png" style="width:100%">
                <div class="text">Check out the full video<a href="https://www.instagram.com/p/Cg58efFsZcs/?hl=en"> here!</a></div>
            </div>

            <div class="mySlides">
                <div class="numbertext">Virginia</div>
                <img src="work/VA.png" style="width:100%">
                <div class="text">Check out the full video<a href="https://www.instagram.com/p/ChXYjMpMm_S/?hl=en"> here!</a></div>
            </div>

            <div class="mySlides">
                <div class="numbertext">Graduation</div>
                <img src="work/GRAD.png" style="width:100%">
                <div class="text">Check out the full video<a href="https://www.instagram.com/p/Cp-j6bDAzWx/?hl=en"> here!</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
        }
    </script>
</body>
</html>