<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Received!</title>
    <link rel="icon" href="images/n7.jpeg">
    <link href="css_files/font.css" rel="stylesheet" type="text/css">
    <link href="css_files/email.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="middle-box">
        <h1>
            Email Received :]!
        </h1>
        <br>
        <p>
            <a href="http://localhost:5678/">Click on this link to go back</a>
        </p>
    </div>
</body>
</html>