.wrapper {
    width: auto;
    margin: 0 auto;
}

.content {
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.contents h2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.image img{
    max-width: 100%;
    height: auto;
    margin-left: 10px;
}

.box {
    margin-right: 10px;
    text-align: center;
    border: solid 2px black;
    background-color: black;
    color: white;
    width: 3000px;
}

.box p {
    margin: 20px;
    font-size: 2vw;
}

.box img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

@media only screen and (max-width: 415px) {
    .box p {
        font-size: 3.0vw;
    }

    .image img {
        margin-top: 100px;
    }
}