body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
.menu-bar {
    background-color: black;
    height: 100px;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
.nav-item{
    margin: 15px 15px;
    display: inline-block;
    position: relative;
}
  
.nav-item a {
    color: white;
    font-size: 25px;
}
  
.nav-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: silver;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.nav-item a:hover {
    color: silver;
}
  
.nav-item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.middle {
    background-color: silver;
    height: 1290px;
    text-align: center;
}

@media only screen and (max-width: 995px) {
    .menu-bar {
      height: 150px;
    }
  }
  
  @media only screen and (max-width: 555px) {
    .menu-bar {
      height: 250px;
    }
  }
  
  @media only screen and (max-width: 458px) {
    .menu-bar {
      height: 400px;
    }
}